@megamtech-labs:registry=https://labs.megamtech.com/api/v4/packages/npm/
//labs.megamtech.com/api/v4/packages/npm/:_authToken="DPxnuDtrbXmXx9dyyKcG"
//labs.megamtech.com/api/v4/projects/58/packages/npm/:_authToken="DPxnuDtrbXmXx9dyyKcG"
