@megamtech-labs:registry=https://labs.megamtech.com/api/v4/packages/npm/
//labs.megamtech.com/api/v4/packages/npm/:_authToken="Az-_gjkP9K8RPrhKXGYA"
//labs.megamtech.com/api/v4/projects/58/packages/npm/:_authToken="Az-_gjkP9K8RPrhKXGYA"
